meta_study_set.xml.gz
api_key.txt

src copy/
sra-metagenome-frontend-backend/
SRA-Curated/
embeddings/
all-MiniLM-L6-v2/
jina-reranker-v1-turbo-en/

src/__pycache__/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__

frontend/.vscode
frontend/.vscode/*

testing/
testing/*

credentials.json
privkey.pem
fullchain.pem

graph.png

*.xml
